.navigation {

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 0 10px;

        &-link {
            padding: 10px 0;
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 14px;
            line-height: 14px;

            &:hover {
                color: #00A4E5;
                border-bottom: 2px solid #00A4E5;
                transition-duration: 1,5s;
            }

            @media (min-width:1200px) {
                line-height: 18px;
            }
        }
    }
}